# Dependencies
node_modules/

# Local downloads/cache
downloads/
downloads/**

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server.log*

# Env/config overrides
.env
.env.*

# OS/editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/
